# WordPress core
/wp-admin/
/wp-includes/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/backups/
/wp-content/ai1wm-backups/

# User uploads
/wp-content/uploads/

# Plugins (игнорировать, если не хочешь хранить их в репозитории)
wp-content/plugins/

# Config files
wp-config.php
.htaccess

# OS / Editor files
.DS_Store
Thumbs.db
*.log
*.sql
*.sqlite
*.swp

# Node / Composer / other build files
node_modules/
vendor/
npm-debug.log
yarn-error.log

# Backup files
*.bak
*.tmp
