@font-face {
    font-family: 'Farro';
    src: local('Farro Light'), local('Farro-Light'),
    url('Farro-Light.woff2') format('woff2'),
    url('Farro-Light.woff') format('woff'),
    url('Farro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Farro';
    src: local('Farro Regular'), local('Farro-Regular'),
    url('Farro-Regular.woff2') format('woff2'),
    url('Farro-Regular.woff') format('woff'),
    url('Farro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Farro';
    src: local('Farro Medium'), local('Farro-Medium'),
    url('Farro-Medium.woff2') format('woff2'),
    url('Farro-Medium.woff') format('woff'),
    url('Farro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Farro';
    src: local('Farro Bold'), local('Farro-Bold'),
    url('Farro-Bold.woff2') format('woff2'),
    url('Farro-Bold.woff') format('woff'),
    url('Farro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




