
@font-face {
    font-family: 'PTSans';
    src: local('PTSans Regular'), local('PTSans-Regular'),
    url('PTSans-Regular.woff2') format('woff2'),
    url('PTSans-Regular.woff') format('woff'),
    url('PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PTSans';
    src: local('PTSans Bold'), local('PTSans-Bold'),
    url('PTSans-Bold.woff2') format('woff2'),
    url('PTSans-Bold.woff') format('woff'),
    url('PTSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




